{% extends "base.html" %}
{% block content %}
<h2>Products</h2>
<table cellspacing="10" cellpadding="0">
    <tbody>
        <col width="200">
        <col width="100">
        <tr>
            <td>
                <h3>Name</h3>
            </td>
            <td style="text-align:center">
                <h3>Price</h3>
            </td>
        </tr>
        {% for product in products %}
        <tr>
            <td>
                <h4><a href="{{ product.id }}">{{ product.name }}</a></h4>
            </td>
            <td style="text-align:center; vertical-align:top">
                {{ product.price }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}