{% extends "base.html" %}
{% block content %}

<h3>Order summary</h3>
<table width="300" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td>
                <h4>Product</h4>
            </td>
            <td>
                <h4>Amount</h4>
            </td>
            <td>
                <h4>Price</h4>
            </td>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.amount }}</td>
            <td>{{ product.price }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <b>Sum</b>
            </td>
            <td></td>
            <td>
                <b>{{ total_price }}</b>
            </td>
        </tr>
        <tr>
            <td>
                <b>Discount</b>
            </td>
            <td></td>
            <td>
                <b>{{ discount }}</b>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>
                <h4>Total price</h4>
            </td>
            <td></td>
            <td>
                <h4>{{ final_price }}</h4>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}