{% extends "base.html" %}
{% block content %}
<h2>Product details</h3>
    <h3>ID</h3>
    {{ product.id }}
    <h3>Name</h3>
    {{ product.name }}
    <h3>Weight</h3>
    {{ product.weight }}
    <h3>Description</h3>
    {{ product.description }}
    <h3>Price</h3>
    {{ product.price }}
    <br><br>
    <form action="/cart/add/" method="post">
        {% csrf_token %}
        <input type="hidden" name="item_id" value="{{ product.id }}">
        <input type="submit" value="Add to cart">
    </form>

    <a href=".">Go back to products</a>
    <br><br>Mean rating: {{ mean_rating }}<br><br>
    <table cellspacing="0" cellpadding="0">
        <tbody>
            <col width="300">
            <col width="40">
            <tr>
                <td>
                    <h3>Comments</h3>
                </td>
                <td>
                    <h3>Ratings</h3>
                </td>
            </tr>
            {% for review in reviews %}
            <tr>
                <td>{{ review.comment }}</td>
                <td style="text-align:center">{{ review.rating }}</tdstyle="text-align:center">
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>Add Comment</h4>
    <form action="/review/add/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <input type="submit" value="Add review">
    </form>
    {% endblock %}